@charset "UTF-8";
@import url("../CSS/layout.css") screen;

/* 공지 글내용 board/noticeBoard_view.jsp */

#brd_title{
	padding-left: 50px;
	height: 100px;
	line-height: 100px;
	font-size: 30px;
}

#hitNdate{ line-height: 100px; }

#brd_content{ padding: 70px; }

.brd_bottom{
	padding-left:50px;
	height:70px;
	line-height:70px;
}

#list_btn{
	margin:70px auto;
	width:150px;
}

#list_btn>button{
	width:150px;
	height:60px;
	font-size:18px;
	border-radius:0px;
}

.brd_bottom a{ 
	padding-left:50px; 
	text-decoration:none;
	color:#555;
}
.brd_bottom a:hover{ font-weight:bold; }

button>a { 
	color:#555;
	text-decoration: none; 
}

/* 리뷰 댓글 */

#commentt{ padding: 20px 30px 20px 50px; }

#commentt a{ 
	text-decoration: none;
	color: #555; 
}

#commentt a:hover{ color: #c8c8c8; }

#userid{ margin-bottom: 10px; }

#reply{
	font-size:13px;
	padding: 0 30px 20px 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
#reply:last-child{ 
	border-bottom: 0; 
	margin-bottom: 0;
	padding-bottom: 5px; 
}
