@charset "UTF-8";
@import url("../CSS/layout.css") screen;


/* ----------------------------------------------- */
/* 공통부분 */
/* ----------------------------------------------- */

/* 상단 서브메뉴 */

.bread_crumbs {
    position: absolute;
    height: 45px;
    width: 100%;
    left: 0;
    background-color: #aaa;
    margin-top: 5px;
}

.bread_crumbs>div {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.bread_crumbs>div>.menu-item {
    flex: 2;
    line-height: 43px;
    height: 45px;
    padding: 0 20px;
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid #aaa;
    z-index: 5;
}

.bread_crumbs>div>.menu-item:first-of-type {
    flex: 1;
    text-align: center;
}
.bread_crumbs>div>.menu-item:nth-of-type(4),
.bread_crumbs>div>.menu-item:last-of-type { flex: 4; }

.bread_crumbs>div>.menu-item:not(:last-of-type):hover {
    background-color: #fff;
    border: 1px solid #36f;
}

.bread_crumbs>div>.menu-item:not(:first-of-type):not(:last-of-type):after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 10px;
    right: 15px;
    transform: rotate(45deg);
    transition: all 0.3s;
}
.bread_crumbs>div>.menu-item:hover:not(:first-of-type):after {
    transform: rotate(-135deg);
    border-color: #555;
    top: 18px;
}
.bread_crumbs>div>.menu-item:hover + div { border-left-color: #aaa; }

.bread_crumbs>div>.menu-item>a {
    overflow: hidden;
    display: block;
    color: #fff;
}

.sub-menu {
    position: absolute;
    width: calc(100% + 2px);
    margin-top: 1px;
    top: 100%;
    left: -1px;
    display: none;
    border: 1px solid #aaa;
    border-top: 0;
    background-color: #fff;
}

.sub-menu>.menu-item {
    border: 1px solid transparent;
    padding: 0 20px;
    opacity: 0;
    transform-origin: bottom;
    animation: enter 1.2s ease forwards;
    animation-duration: 0.5s;
}
.sub-menu>.menu-item>a {
    display: block;
    width: 100%;
    color: #555;
}
.menu-item:hover>a { color: #555 !important; }
.menu-item:hover>.sub-menu { display: block; }
.sub-menu>.menu-item:hover { background-color: #eee; }

.sub-menu>.menu-item:nth-child(1) {
    animation-duration: 0.2s;
    animation-delay: 0s;
}
.sub-menu>.menu-item:nth-child(2) {
    animation-duration: 0.3s;
    animation-delay: 0.1s;
}
.sub-menu>.menu-item:nth-child(4) {
    animation-duration: 0.4s;
    animation-delay: 0.2s;
}
.sub-menu>.menu-item:nth-child(5) { animation-delay: 0.3s; }
.sub-menu>.menu-item:nth-child(6) { animation-delay: 0.4s; }
.sub-menu>.menu-item:nth-child(7) { animation-delay: 0.5s; }
.sub-menu>.menu-item:nth-child(8) { animation-delay: 0.6s; }
.sub-menu>.menu-item:nth-child(9) { animation-delay: 0.7s; }
.sub-menu>.menu-item:nth-child(10) { animation-delay: 0.8s; }
.sub-menu>.menu-item:nth-child(11) { animation-delay: 0.9s; }
.sub-menu>.menu-item:nth-child(12) { animation-delay: 1.0s; }
.sub-menu>.menu-item:nth-child(13) { animation-delay: 1.1s; }
.sub-menu>.menu-item:nth-child(14) { animation-delay: 1.2s; }

@keyframes enter {
    from {
        opacity: 0;
        transform: scaleY(0.98) translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}



/* */

.info-reservation .tab-menu1 li.on:before {
    width: 1em;
    height: 0.5em;
    margin-left: -30px;
    margin-top: 20px;
}

.info-banner { text-align: left; }

.info-banner>div:first-of-type {
    display: table;
    min-height: 310px;
    width: 100%;
    margin: 50px 0 30px;
    padding: 40px 440px 40px 70px;
    background-color: #e6e2df;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.info-banner>div:first-of-type>div {
    display: table-cell;
    vertical-align: middle;
    line-height: 30px;
    font-size: 110%;
}

.banner-title {
    margin-bottom: 20px;
    line-height: 1;
    color: #333;
    font-size: 200%;
}

.info-banner>div:first-of-type button {
    margin-top: 15px;
    padding: 11px 30px;
    font-size: 90%;
    min-height: 46px;
    border-radius: 3px;
}

.table-form2 .table-row-title button {
    margin-top: 15px;
    font-size: 55%;
    min-height: 30px;
    padding: 10px 15px;
    border-radius: 3px;
}

.table-form2 button:hover,
.info-banner>div:first-of-type button:hover {
    background-color: #fff !important;
    border-color: #555;
}

.info-subtitle {
    margin: 30px 0;
    font-size: 180%;
    font-weight: 700;
}

.section-title {
    font-size: 170%;
    font-weight: 600;
    margin: 40px 0 15px;
}
.section-title + div,
.section-title + p { margin-bottom: 10px; }
.section-title + p { font-size: 130%; }

.table-tab { height: 30px; }
.table-tab li {
    float: left;
    margin: 14px 10px 12px 10px;
    padding-right: 20px;
    list-style-type: none;
    font-size: 0.8em;
    border-right: 1px solid #ddd;
    transition: color 0.5s ease-in-out;
}

.table-tab li:first-child { margin-left: 10px; }
.table-tab li:last-child { border: none; }
.table-tab input[type=radio] { display: none; }
.table-tab input[type=radio]:checked + label { color: #36f; }

.table-form2 .table-row-title { font-size: 140%; }
.table-form2>.row { padding: 25px 0; }
.table-form2 .list-type2>li { font-size: 110%; }

.table-form2 .list-type2>li.notice-text {
    font-size: 90%;
    color: #888;
    padding: 0;
}

.table-form2 .list-type2>li.bigger-text { 
    font-size: 120%;
    font-weight: 600;
    padding: 0;
    margin-top: 25px;
}
.table-form2 .list-type2>li.bigger-text:before, 
.table-form2 .list-type2>li.notice-text:before { width: 0; }
.table-form2 .list-type2>li.margin-left12 { margin-left: 12px; }

.table-form span.bold { font-weight: bold; }

.last-note { 
    padding: 25px 40px 20px; 
    margin-left: 0;
    margin-top: 60px;
}


/* 테이블 */
.table-form2 .table-list { margin-left: 26px; }
.table-list {position:relative;width:100%; border-collapse: collapse; margin-bottom: 10px; }
.table-list.tbl_fixed {table-layout: fixed;}
.table-list thead tr th {padding:10px 0;border-left:1px solid #ddd;border-top:1px solid #999ba1;color:#555;font-size:15px;font-weight:normal;background:#6d6e70; color:#fff;}
.table-list thead tr:first-child th:first-child {border-left:none;}
.table-list thead tr + tr th {border-top:1px solid #ddd;}
.table-list tbody tr td,
.table-list tbody tr th {position:relative;padding:15px 20px;border-left:1px solid #ddd;border-bottom:1px solid #ddd;color:#000;font-size:16px;font-weight:normal;text-align:center;}
.table-list tbody tr td.via_type,
.table-list tbody tr th.via_type {border-bottom-style:dashed;}
.table-list thead tr td.bor_left,
.table-list thead tr th.bor_left,
.table-list tbody tr td.bor_left,
.table-list tbody tr th.bor_left {border-left: 1px solid #ddd !important}
.table-list tbody tr td:first-child,
.table-list tbody tr th:first-child {border-left:none;}
.table-list tbody tr th.bg_gray,
.table-list tbody tr td.bg_gray {background: #f7f7f7}
.table-list tbody tr th.pad_0 {padding:0 !important;}
.table-list tfoot tr td,
.table-list tfoot tr th{padding:20px 20px;background:#f0f0f0; border-bottom:1px solid #ddd; border-left:1px solid #ddd;line-height:1;}
.table-list tfoot tr th:first-child{border-left:none;}
.table-list tfoot.sum tr td{text-align:right; font-weight:bold; color:#d60815;font-size:18px; }
.table-list tfoot.sum tr th{font-size:20px;font-weight:normal;text-align:left;}
.table-list tbody tr th.bg-blue5,
.table-list tbody tr.bg-blue5 th { border-top: 0; color: #fff; }
.table-list tbody tr:not(.bg-blue5):not(.bg-gray5) td:not(.bg-blue5):not(.bg-gray5) { text-align: left; }

.number-wrapper {
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    opacity: 0.7;
    left: 50px;
    top: 35px;
}

/* ----------------------------------------------- */
/* 예약 안내 info_reservation.html */
/* ----------------------------------------------- */

.banner-reservation-1 { background-image: url(../IMG/information/bg_visual_eticket.png); background-position-y: 0 !important; }
.banner-reservation-2 { background-image: url(../IMG/information/bg_visual_revInfo01.png); }
.banner-reservation-3 { background-image: url(../IMG/information/bg_visual_revInfo03.png); }
.banner-reservation-4 { background-image: url(../IMG/information/bg_visual_revInfo04.png); }


/* ----------------------------------------------- */
/* 운임 안내 info_fare.html */
/* ----------------------------------------------- */

.banner-fare-1 { background-image: url(../IMG/information/bg_visual_fareinfo01.png); }
.banner-fare-2 { background-image: url(../IMG/information/bg_visual_fareinfo02.png); }







/* ----------------------------------------------- */
/* 레그룸 info_legroom.html */
/* ----------------------------------------------- */

#purchase_list {
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 100%;
}

.airplane-table .whiteBtn {
    padding: 5px 20px;
    border-radius: 3px;
}

.airplane-table td {
    height: 210px;
    margin-top: 30px;
    border: 1px solid #ddd !important;
}
.airplane-table td>img { margin-bottom: 10px; }


/* ----------------------------------------------- */
/* 기내 wifi info_wifi.html */
/* ----------------------------------------------- */

.wifi-table td {
    border: 1px solid #ddd !important;
    position: relative;
}
.wifi-table td>p:first-of-type { font-size: 130%; }

#wifi-ol>li {
    margin-bottom: 10px;
    list-style-position: inside;
}
/* ----------------------------------------------- */
/* 자주 찾는 질문 info_faq.html */
/* ----------------------------------------------- */

.info-list { margin-right: 50px; }

.faq-title {
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 30px;
}

.info-section { margin-bottom: 30px; }

.info-section>div:first-child {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 120%;
    color: #fff;
}
.info-section>div:last-child {
    padding: 30px;
    border: 1px solid #67a;
}

.info-section>div:last-child>ul>li {
    float: left;
    margin: 10px 20px;
    list-style-type: none;
}
.info-section>div:last-child>ul>li:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 18px;
    background-color: #ddd;
    margin-left: 17px;
    margin-top: 4px;
}
.no-compartment:after,
.info-section>div:last-child>ul>li:last-child:after { background-color: #fff !important; }

.info-section>div:last-child>ul>li>a { color: #555; }
.info-section>div:last-child>ul>li>a:hover { font-weight: 700; text-decoration: underline; }

.accordion {
    border-top: 6px solid #67a;
    line-height: 1.6;
}

.accordion-item { border-bottom: 1px solid #67a; }

.accordion-title {
    padding: 15px 15px 15px 40px;
    display: block;
    position: relative;
}
.is-expanded .accordion-title { font-weight: 700; }

.accordion-title:before {
    font-family: FontAwesome;
    content: "\f055";
    font-size: 100%;
    position: absolute;
    left: 15px;
    top: 16px;
    color: #67a;
    transition: all 1s;
}
.is-expanded .accordion-title:before { content: "\f056"; }

.accordion-title:hover,
.accordion-title:focus {
    cursor: pointer;
    outline: none;
    font-weight: 700;
}

.accordion-content-inner {
    padding: 0 40px 10px 40px;
    font-size: 90%;
}

.accordion-content {
    height: 0;
    overflow: hidden;
}
.is-expanded .accordion-content { height: fit-content; }

.customer-center {
    margin-top: 40px;
    height: 200px;
    padding: 30px;
    border: 1px solid #67a;
    background: url(../IMG/icon/ico_customer_main02.png) no-repeat right 22px bottom 25px;
}
.customer-center>p { font-size: 150%; }
.customer-center>input[type=button] {
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 15px;
    border-color: #67a !important;
}

